---
---

$yellow-color: #efc367;
$green-color: #588859;
$navbar-inverse-bg: $green-color;
$navbar-inverse-brand-color: $yellow-color !default;
$navbar-inverse-link-color: lighten($green-color, 15%) !default;

@import 'bootstrap';
@import 'theme';

.wrapper { 
  margin-top: 50px
}

.logo {
  height: 250px;
  width: 250px;
}

.banner {
  background: black;
}
